body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #273B47;
}

.welcome {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  margin-bottom: 10%;
  text-align: center;
  color: #273B47;

}

.quiz-box {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.question-box {
  font-family: 'Arial', sans-serif;
  margin-bottom: 10%;
  text-align: center;
  color: #273B47;
}

.answer-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 30px;
  border-radius: 5%;
  cursor: pointer;
  background-color: #9DAD7F;
  color: white;
  border: 10%;
}

.result-container {
  text-align: center;
  margin-top: 20px;
}

.HeaderLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}